Flask==2.2.2
Flask-SocketIO==5.3.2
opencv-python==4.5.5.64
opencv-python-headless==4.5.5.64  # Optional: Only if you don't need GUI features
requests==2.27.1
ultralytics==8.0.31
cvzone==1.4.1
winsound
pygame
